.backside {
  min-height: 100vh;
  background: rgb(189, 211, 211);
}

.sidebarPosition {
  background-color: black;
}

.NavbarPosition {
  color: white;
  position: fixed;
  background: rgb(3, 67, 97);
}

.navTextColor {
  color: rgba(219, 43, 125, 1);
}
.rotate90 {
  transform: rotate(360deg);
  transition: 0.5s ease;
  background: rgba(255, 254, 254, 0.705);
}
.rotate {
  transform: rotate(90deg);
  transition: 0.5s ease;
  background: transparent;
}

.rotate360 {
  animation: rotate360k 2s linear 0s infinite;
}

@keyframes rotate360k {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.linkWithoutBlueLine:hover {
  text-decoration: none;
}
.linkWithoutBlueLine {
  text-decoration: none;
}
